proyectos independientes/Microsft learn/.vs/Microsft learn/FileContentIndex/4e458227-3e4e-4649-9deb-129dc03abbc2.vsidx
proyectos independientes/Microsft learn/.vs/Microsft learn/FileContentIndex/21fbc1c4-3fd5-4efa-9dea-7c4e11511265.vsidx
proyectos independientes/Microsft learn/.vs/Microsft learn/FileContentIndex/caa0ec2b-40e4-4383-bf40-9e4b010f72be.vsidx
proyectos independientes/Microsft learn/.vs/slnx.sqlite
proyectos independientes/Microsft learn/.vs/Microsft learn/FileContentIndex/8704299b-f580-4b97-84de-17c77d93c01f.vsidx
